.reason{
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: #FFD7C4;
    color: white;
    gap:1rem;
}
