.home {
  height: 100%;
  width: 100%;
  background: #b6ffa1;
}
.nav {
  display: flex;
  justify-content: center;
  background-color: aquamarine;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  gap: 1rem;
}
